.banner {
	background-color: #4dc350;
}

.button {
	margin-top: 35px ;
}

h4 {

}

.text {
	font-size: 18px;
	color:black;
	text-align: justify;
}

.number {
	vertical-align:middle;
}

.company:after {
	content:' ';
	top: 45%;
	left: -1px;
	right: -1px;
	height: 15px;
	z-index: -1;
	position: absolute;
	background-color: #4dc350; 
}
.company {
	position: relative;
	z-index: 1;
}

.trash_img {
	width: 90%;
}

.company {

}

.hide {
	display: none;
}

.hide + label ~ div{
    display: none;
}

.hide:checked + label + div {
    display: block; 
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: 0 0 5px 2px grey;
    padding: 10px; 
}

.point:hover {
	background-color: #f4f4f4;
}

.divcard {
	display: flex;
	justify-content: center;
	margin-top:5px;

}

.cardborder {
	border-style:solid;
	border-color: #4dc350;
	box-shadow: 0 0 5px 2px grey;
	border-width: 4px;
}

.adress {

	position: absolute;
	width: 300px;
	height: 150px;
	z-index: 1;
	box-shadow: 0 0 5px 2px grey;
	background-color: white;
	padding-left: 10px;
	padding-top: 3px;

}

.maps {
	background-color: #f4f4f4;
}

.scriptmap {
	z-index: 0;
	width: 100%;

}
.adress-item {
	color: #4dc350;
	font-weight: bolder;
}

.footer {
	background-color: #f4f4f4;
	padding-top: 10px;
	position: absolute;
	height: 70px;
}

#vk:hover {
	opacity: 0.7;
}
#inst:hover {
	opacity: 0.7;
}
#whatsapp:hover {
	opacity: 0.7;
}

html, body {
	height: 100%;
}

.all-element {
	position: relative;
	min-height: 100%;
}

li {
    color: #4dc350;
   }

.card-body {
	height: 470px;
	width: 290px;
}
